$font-sans: "Source Sans Pro";
$font-oswald: "Oswald";
$font-style: normal;

$text-transform: uppercase;

$device-width: 768px;

$white: #ffffff;
$black: #000000;
$cyan: #55c2d8;
$gray: #464547;
$footer-color: rgba(255, 255, 255, 0.4);

$font-size__subtitle: 14px;
$font-weight__subtitle: 400;
