body {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.top {
  /* position: relative; */
  background-image: url("/CSS-Selectors-and-Responsive/assets/desktop-background.png");
  background-position: right;
  background-size: 1315px 822px;
  height: 800px;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 0;
  padding-top: 0;
  width: 100%;
}

.page-name {
  margin-top: 45px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  width: auto;
  align-self: center;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  display: inline-flex;
  padding-top: 50px;
}

ul a {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #ffffff;
}

li {
  width: auto;
  flex: 1 1 25%;
  flex-wrap: nowrap;
}

li a:link {
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.big-logo {
  width: 63px;
  height: 63px;
  position: relative;
  margin-top: 125px;
}

.hero h1 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */

  text-align: center;

  color: #ffffff;

  position: relative;
  margin-top: 15px;
}

.hero h2 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  text-align: center;

  color: rgba(255, 255, 255, 0.7);

  position: relative;
  margin-top: 40px;
}

.mid {
  position: relative;
  height: 700px;
}

.mid h2 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */

  text-align: center;

  color: #464547;
  position: relative;
  margin-top: 120px;
}

.mid h3 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  text-align: center;

  color: #666666;
  position: relative;
  margin-top: 50px;
}

.paragraphs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  justify-content: center;
  align-items: start;
}

p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */

  text-align: center;

  color: #000000;
  width: 100%;
}

.mid button {
  position: relative;
  width: 115px;
  height: 36px;
  background: #55c2d8;
  border-radius: 18px;
  font-family: "Oswald";
  font-size: 14px;
  line-height: 26px;
  border: none;
  /* or 186% */

  text-align: center;
  letter-spacing: 0.1em;

  color: #ffffff;
  position: relative;
  margin-top: 46px;
}

.bottom {
  position: relative;
  height: 666px;
  background-image: url("/CSS-Selectors-and-Responsive/assets/background2.png");
  background-position: center;
  background-size: auto 666px;
}

.bottom h1 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */

  text-align: center;

  color: #ffffff;

  position: relative;
  margin-bottom: 50px;
  padding-top: 80px;
}

.bottom button {
  width: 150px;
  height: 150px;
  position: relative;
  background: #39c2d7;
  border-radius: 150px;
  border: none;
  color: white;
  font-size: 70px;
  text-align: center;
}

.bottom h3 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  text-align: center;

  color: #ffffff;
  margin-top: 75px;
}

footer {
  position: relative;
  height: 170px;
  background: #464547;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-top: 40px;
  padding-left: 150px;
  padding-right: 150px;
}

.small-logo {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.project-and-logo {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  /* identical to box height, or 89% */

  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #ffffff;
  grid-row: 1;
  grid-column: 1;
  display: inline-flex;
}

.address {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* or 119% */

  color: rgba(255, 255, 255, 0.4);
  grid-row: 1;
  grid-column: 3;
}

.email {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* or 119% */

  color: rgba(255, 255, 255, 0.4);
  grid-row: 2;
  grid-column: 3;
}

.rights {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* or 119% */

  color: rgba(255, 255, 255, 0.4);
  grid-row: 2;
  grid-column: 6 / span 7;
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
}
